<?xml version="1.0" encoding="utf-8"?>

<toolboxfolder name="HPGCToolbox">
  <toolcount>5</toolcount>
  <toolbox name="PSO" id="1">
    <toolset name="DPSO" id="2" filename="./DLL/DPSO.dll">      
      <tool name="土地利用结构优化" id="3" config="./Config/土地利用结构优化.xml"></tool>
      <tool name="旅行商问题" id="4" config="./Config/旅行商问题.xml"></tool>
    </toolset>
    <toolset name="CPSO" id="5" filename="./DLL/CPSO.dll"></toolset>
  </toolbox>
</toolboxfolder>